<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="/main.css">
  </head>
  <body>

      <div id="header">
        <ul id="nav">
          <li><a href="#">Home</a></li>
          <li><a href="#band">Band</a></li>
          <li><a href="#tour">Tour</a></li>
          <li><a href="#contact">Contact</a></li>
          <li>
            <a href="#">More
              <i class="nav-arrow-down ti-angle-down"></i>
            </a>
            <ul class="subnav">
              <li><a href="#">Merchandise</a></li>
              <li><a href="#">Extras</a></li>
              <li><a href="#">Media</a></li>
            </ul>
          </li>
          {% if admin and admin.id %}
          
          {% else %}
          <li><a href="/admin" >Admin</a></li>
          {% endif %}
        </ul>
        <!-- search -->
        <div class="search-btn">
          {% if user and user.id %}
          <a class="user-name" href="/profile">{{user.nick}}</a>
          <a id="logout" href="/auth/logout" class="btn">Logout</a>
          {% elif admin and admin.id %}
          <a class="admin-name" href="/admin/profile">{{admin.nick}}</a>
          <a id="logout" href="/auth/logout" class="btn">Logout</a>
          {% else %}
          <a id="login" href="/login" class="btn">Login</a>
          <a id="join" href="/join" class="btn">Sign-up</a>
          {% endif %}
        </div>
      
        <div class="search-btn">
          <i class="search-icon ti-search"> </i>
        </div>
      
        <div id="mobile-menu" class="mobile-menu-btn">
          <i class="menu-icon ti-menu"></i>
        </div>
      
        <!-- .nav -->
      </div>
<!-- 
    <header>
      <nav>
        <a href="">Home</a>
        <a href="">About</a>
        <a href="">Gallery</a>
        <a href="">Contact</a>
        {% if user and user.id %}
        <a class="user-name" href="/profile">{{user.nick}}</a>
        <a id="logout" href="/auth/logout" class="btn">Logout</a>
        {% else %}
        <a id="login" href="/login" class="btn">Login</a>
        <a id="join" href="/join" class="btn">Sign-up</a>
        {% endif %}
      
      </nav>
      </header> -->

    <div class="container">
      <div class="profile-wrap">
        <div class="profile">
          {% if user and user.id %}
            <div class="user-name">{{'안녕하세요! ' + user.nick + '님'}}</div>
            <div class="half">
              <div>Following</div>
              <div class="count following-count">{{followingCount}}</div>
            </div>
            <div class="half">
              <div>Follower</div>
              <div class="count follower-count">{{followerCount}}</div>
            </div>
          <input id="my-id" type="hidden" value="{{user.id}}">
          <a id="my-profile" href="/profile" class="btn">My Profile</a>
          <a id="logout" href="/auth/logout" class="btn">Logout</a>
        {% else %}
          <p>hello</p>
          <!-- <form id="login-form" action="/auth/login" method="post">
            <div class="input-group">
              <label for="email">Email</label>
              <input id="email" type="email" name="email" required autofocus>
            </div>
            <div class="input-group">
              <label for="password">Password</label>
              <input id="password" type="password" name="password" required>
            </div>
            <a id="join" href="/join" class="btn">Join</a>
            <button id="login" type="submit" class="btn">Login</button>
            <a id="kakao" href="/auth/kakao" class="btn">KakaoTalk</a>
          </form> -->
        {% endif %}
        </div>
      </div>
      {% block content %}
      {% endblock %}
    </div>

    <!-- <footer>
          Made by&nbsp;
          <a href="https://github.com/dthcs" target="_blank">Huyen</a>
        </footer> -->

     <!--Footer Start-->
     <a href="#" class="scroll-top-button">
      <span class="arrow"></span>
    </a>

    <footer>
      <div id="social-images" class = "clearfix">
          <span id = "fb" class = "image"></span>
          <span id = "insta" class = "image"></span>
          <span id = "snapchat" class = "image"></span>
          <span id = "gplus" class = "image"></span>
          <span id = "twitter" class = "image"></span>
          <span id = "linkedin" class = "image"></span>
      </div>
      <span>
          Made with &hearts; By &#45; Huyen
      </span>
    </footer>
   <!--Footer End-->
    <!-- <script src="https://unpkg.com/axios/dist/axios.min.js"></script> -->
    <script>
      window.onload = () => {
        if (new URL(location.href).searchParams.get('error')) {
          alert(new URL(location.href).searchParams.get('error'));
        }
      };

      document.querySelector('.scroll-top-button').addEventListener('click', function (e) {
        e.preventDefault();
        window.scrollTo({ top: 0, behavior: 'smooth' });
      });
    </script>
    {% block script %}
    {% endblock %}
  </body>
</html>