{% extends 'layout.html' %}

{% block content %}
  <div class="timeline">
    <form id="login-form" action="/auth/login" method="post">
        <div class="input-group">
          <label for="email">Email</label>
          <input id="email" type="email" name="email" required autofocus>
        </div>
        <div class="input-group">
          <label for="password">Password</label>
          <input id="password" type="password" name="password" required>
        </div>
        <!-- <a id="join" href="/join" class="btn">Join</a> -->
        <button id="login" type="submit" class="btn">Login</button>
        <!-- <a id="kakao" href="/auth/kakao" class="btn">KakaoTalk</a> -->
      </form>
  </div>
{% endblock %}

{% block script %}
  <script>
    window.onload = () => {
      if (new URL(location.href).searchParams.get('error')) {
        alert('이미 존재하는 이메일입니다.');
      }
    };
  </script>
{% endblock %}