{% extends 'layout.html' %}

{% block content %}
    <div class="timeline">
        {% if user %}
        <div>
            <form id="twit-form" action="/auth/post" method="post">
                <div class="input-group">
                    <input id="twit" type="text" name="content" maxlength="140">
                </div>
                <div>
                    <button id="twit-btn" type="submit" class="btn">Post</button>
                </div>
            </form>
        </div>
        
        <div id="question-container"></div>
        
        <script>
            const questionForm = document.getElementById("twit-form");
            // const questionContainer = document.getElementById("question-container");

            questionForm.addEventListener("submit", function (event) {
                event.preventDefault();
                const questionInput = document.getElementById("twit");
                const question = questionInput.value;

                // Danh sách các từ không được phép
                const badWords = ["bad", "fuck", "bitch"];

                // Kiểm tra xem câu hỏi có chứa từ không được phép không
                for (let i = 0; i < badWords.length; i++) {
                    if (question.includes(badWords[i])) {
                        alert("Invalid question!");
                        return;
                    }
                }
                // If no forbidden words found, submit the form
                questionForm.submit();



            });
        </script>
        {% endif %}

    <!-- </div>
    //     <div id="posted-questions">

    //       {% for post in posts %}
    //           <p class="question-content">{{ post.content }}</p>
    //       {% endfor %}
    //   </div> -->
      
  </div>

{% endblock %}